[package]
name = "smol"
version = "0.1.16"
authors = ["Stjepan Glavina <stjepang@gmail.com>"]
edition = "2018"
description = "A small and fast async runtime"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/stjepang/smol"
homepage = "https://github.com/stjepang/smol"
documentation = "https://docs.rs/smol"
keywords = ["async", "await", "future", "io", "networking"]
categories = ["asynchronous", "concurrency", "network-programming"]
readme = "README.md"
autoexamples = false

[features]
# Optional feature for seamless integration with crates depending on tokio.
# It creates a global tokio runtime and sets up its context inside smol.
#
# Enable the feature as follows:
# ```
# [dependencies]
# smol = { version = "0.1", features = ["tokio02"] }
# ```
tokio02 = ["tokio"]

[dependencies]
async-task = "3.0.0"
blocking = "0.4.6"
concurrent-queue = "1.1.1"
fastrand = "1.1.0"
futures-io = { version = "0.3.5", default-features = false, features = ["std"] }
futures-util = { version = "0.3.5", default-features = false, features = ["std", "io"] }
once_cell = "1.3.1"
piper = "0.1.2"
scoped-tls = "1.0.0"
slab = "0.4.2"
socket2 = { version = "0.3.12", features = ["pair", "unix"] }

[dependencies.tokio]
version = "0.2"
default-features = false
features = ["rt-threaded"]
optional = true

[target.'cfg(unix)'.dependencies]
libc = "0.2.70"

[target.'cfg(windows)'.dependencies]
wepoll-binding = "2.0.2"

[dev-dependencies]
futures = { version = "0.3.5", default-features = false, features = ["std"] }
num_cpus = "1.13.0"
tempfile = "3.1.0"
criterion = "0.3"

[workspace]
members = [
  ".",
  "examples",
]

[[bench]]
name = "spawn"
harness = false
